---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item newer">&middot</span>
  {% endif %}
  
  <span class="pagination-item">&middot</span>
  
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item older">&middot</span>
  {% endif %}
</div>
