---
layout: default
---

<head>

</head>

<body>
  
<div class="posts">
  {% for post in paginator.posts %}
  <div id="content-container">
  <article class="post">
    {{ post.content | sample }}
  </article>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if page.previous.url %} 
    <a class="pagination-item newer" href="{{ page.previous.url | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item newer">&middot</span>
  {% endif %}
  
  <a class="pagination-item random" href="{{ site.baseurl }}/random">&middot</a>

  {% if page.next.url %}
    <a class="pagination-item older" href="{{ page.next.url | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item older">&middot</span>
  {% endif %}
</div>

<script>
  $('.older').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".older").attr("href");
        if (newhref == null) {
            $el.replaceWith( "<span>" + $el.html() + "</span>" );
            $(".postsbox").append(newposts);
        } else {
            $el.attr("href", newhref);
            $(".postsbox").append(newposts);
        }
      
    });
  });
  
  $('.random').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".random").attr("href");
        if (newhref == null) {
            $el.replaceWith( "<span>" + $el.html() + "</span>" );
            $(".postsbox").append(newposts);
        } else {
            $el.attr("href", newhref);
            $(".postsbox").append(newposts);
        }
      
    });
  });
  
  $('.newer').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".newer").attr("href");
        if (newhref == null) {
            $el.replaceWith( "<span>" + $el.html() + "</span>" );
            $(".postsbox").prepend(newposts);
        } else {
            $el.attr("href", newhref);
            $(".postsbox").prepend(newposts);
        }
      
    });
  });
</script>


</body>
