---
---

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

header, footer {
  display: none;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.6;
  background: #eee;
  color: #333;
  -webkit-animation: wb, bw 10s infinite alternate;
  -moz-animation: wb, bw 10s infinite alternate;
  -o-animation: wb, bw 10s infinite alternate;
  animation: wb, bw 10s infinite alternate;
}

@-webkit-keyframes wb {
  0%   { background: #eee; }
  100% { background: #333; }
}
@-moz-keyframes wb {
  0%   { background: #eee; }
  100% { background: #333; }
}
@-o-keyframes wb {
  0%   { background: #eee; }
  100% { background: #333; }
}
@keyframes wb {
  0%   { background: #eee; }
  100% { background: #333; }
}

@-webkit-keyframes bw {
  0%   { background: #333; }
  100% { background: #eee; }
}
@-moz-keyframes bw {
  0%   { background: #333; }
  100% { background: #eee; }
}
@-o-keyframes bw {
  0%   { background: #333; }
  100% { background: #eee; }
}
@keyframes bw {
  0%   { background: #333; }
  100% { background: #eee; }
}

p {
  margin: 10px 0;
  text-align: justify;
}

a {
  color: #000;
  text-shadow: none;
  text-decoration: none;
}

a:hover, a:focus {
  font-weight:bold;
}

blockquote {
  color: #666;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

.pagination {
  margin: 10px 0;
  text-align: center;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 10px 20px;
  margin: 0 auto;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

}

@media screen and (max-width: 320px) {
  .inner {
    min-width: 240px;
    max-width: 320px;
  }

}
