<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko' }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&amp;subset=korean" rel="stylesheet">
    <style>@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&subset=korean');</style>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
        </header>
    </div>

    <!-- CONTENT -->
    <div class="container">
      <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">



          <div class="pagination">
            {% if paginator.previous_page %}
              <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">+</a>
            {% else %}
              <span class="pagination-item newer">-</span>
            {% endif %}
          </div>

          <div class="postsbox">
            <div class="posts">
              {% for post in paginator.posts %}
                  {{ post.content }}
              {% endfor %}
            </div>
          </div>

          <div class="pagination">
            {% if paginator.next_page %}
              <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">+</a>
            {% else %}
              <span class="pagination-item older">-</span>
            {% endif %}
          </div>

          <script>
            $('a.older').click(function(e) {
              e.preventDefault();
              var $el = $(this);
              var url = $(this).attr("href");
              $.get(url, function(newdata){
                  var newposts = $(newdata).find(".posts");
                  var newhref = $(newdata).find(".older").attr("href");
                  if (newhref == null) {
                    $(".postsbox").append(newposts);
                    $el.attr("href", null);
                    $el.replaceWith( "<span>" + "-" + "</span>" );
                  } else {
                    $(".postsbox").append(newposts);
                    $el.attr("href", newhref);
                  }
              });
            });

            $('a.newer').click(function(e) {
              e.preventDefault();
              var $el = $(this);
              var url = $(this).attr("href");
              $.get(url, function(newdata){
                var newposts = $(newdata).find(".posts");
                var newhref = $(newdata).find(".newer").attr("href");
                if (newhref == null) {
                  $(".postsbox").prepend(newposts);
                  $el.attr("href", null);
                  $el.replaceWith( "<span>" + "-" + "</span>" );
                } else {
                  $(".postsbox").prepend(newposts);
                  $el.attr("href", newhref);
                }
              });
            });
          </script>



        </section>
      </div>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>

  </body>
</html>
