---
layout: default
---

<div class="pagination">
  {% if page.previous.url %} 
    <a class="pagination-item newer" href="{{ page.previous.url | prepend: site.baseurl }}">+</a>
  {% else %}
    <span class="pagination-item newer">-</span>
  {% endif %}
</div>

<div class="postsbox">
  <div class="posts">
    {{ content }}
  </div>
</div>

<div class="pagination">
  {% if page.next.url %}
    <a class="pagination-item older" href="{{ page.next.url | prepend: site.baseurl }}">+</a>
  {% else %}
    <span class="pagination-item older">-</span>
  {% endif %}
</div>

<script>
  $('a.older').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".older").attr("href");
        if (newhref == null) {
          $(".postsbox").append(newposts);
          $el.attr("href", null);
          $el.replaceWith( "<span>" + "-" + "</span>" );
        } else {
          $(".postsbox").fadeIn().append(newposts);
          $el.attr("href", newhref);
        }  
    });
  });
  
  $('a.newer').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
      var newposts = $(newdata).find(".posts");
      var newhref = $(newdata).find(".newer").attr("href");
      if (newhref == null) {
        $(".postsbox").prepend(newposts);
        $el.attr("href", null);
        $el.replaceWith( "<span>" + "-" + "</span>" );
      } else {
        $(".postsbox").fadeIn().prepend(newposts);
        $el.attr("href", newhref);
      }  
    });
  });
</script>
