---
layout: default
---

<div class="postsbox">
  <div class="posts">
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>


<div class="pagination">
  {% if page.previous.url %} 
    <a class="pagination-item newer" href="{{ page.previous.url | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item newer">&middot</span>
  {% endif %}
  
  <a class="pagination-item random" href="{{ site.baseurl }}/random">&middot</a>

  {% if page.next.url %}
    <a class="pagination-item older" href="{{ page.next.url | prepend: site.baseurl }}">&middot</a>
  {% else %}
    <span class="pagination-item older">&middot</span>
  {% endif %}
</div>

<script>
  $('.older').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".older").attr("href");
        if (newhref == null) {
            $el.replaceWith( "<span>" + $el.html() + "</span>" );
            $(".postsbox").append(newposts);
        } else {
            $el.attr("href", newhref);
            $(".postsbox").append(newposts);
        }
      
    });
  });
  
  $('.random').click(function(e) {
  e.preventDefault();
  var posts = [];
  {% for post in site.posts %}
  posts.push("{{ post.url }}");
  {% endfor %}	 
  var url = posts[Math.floor(Math.random()*posts.length)];

    //var $el = $(this);
    //var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
            $(".postsbox").append(newposts);  
    });
  });
  
  $('.newer').click(function(e) {
    e.preventDefault();
    var $el = $(this);
    var url = $(this).attr("href");    
    $.get(url, function(newdata){
        var newposts = $(newdata).find(".posts");
        var newhref = $(newdata).find(".newer").attr("href");
        if (newhref == null) {
            $el.replaceWith( "<span>" + $el.html() + "</span>" );
            $(".postsbox").prepend(newposts);
        } else {
            $el.attr("href", newhref);
            $(".postsbox").prepend(newposts);
        }
      
    });
  });
</script>




