---
layout: default
---
<div class="posts">
  <h1 class="post-title">{{ page.title }}</h1>
  
  {{ content }}

<div class="pagination">
  {% if page.previous.url %} 
    <a class="pagination-item newer" href="{{ page.previous.url | prepend: site.baseurl }}">&middot 이전 내용{{ page.previous.content }}이전 내용</a>
  {% else %}
    <span class="pagination-item newer">&middot</span>
  {% endif %}
  
  <a class="pagination-item" href="{{ site.url }}">&middot{{ page.previous.title }}</a>

  {% if page.next.url %}
    <a class="pagination-item older" href="{{ page.next.url | prepend: site.baseurl }}">&middot 이후 내용{{ page.next.content }}이후 내용</a>
  {% else %}
    <span class="pagination-item older">&middot</span>
  {% endif %}
</div>
  
</div>
